body {
    background-color: #FFF;
    margin: 0;
}

.Component {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}

/* **********************************************************************************
Buttons Section Start
*********************************************************************************** */
.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    height: 30px;
    width: 100px;
    font-size: 14px;
    border: 1px solid #DDDD;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.btn__lg {
    height: 38px;
    width: 190px;
}

.btn:active {
    background: rgba(0, 0, 0, 0.3);
}

.btn__Danger {
    background-color: #d9534f;
}

.btn__Black {
    background-color: #000;
    color: #EFA32A;
}

.btn__Success {
    background-color: #5cb85c;
}

.btn__Center {
    display: block;
    margin: auto
}

.btn__Container {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.btn__NoMargin {
    margin: 20px 10px;
}

/* **********************************************************************************
Buttons End
*********************************************************************************** */


.Company__Grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 1000px;
    justify-content: center;
    margin: auto;
    align-items: center;
    border-bottom: 1px solid #A6A6A6;
}

.Company__Grid--NoBorder {
    border-bottom: none;
}


.Company__Card {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 1px solid #A6A6A6;
    border-bottom: 0px;
    padding: 10px 0px;
    background-color: #fff;
}

.Company__Card-fiveColumns {
    grid-template-columns: repeat(5, 1fr);
}

.Company__Card--Black {
    background-color: #000000;
    color: #fff;
    border: 1px solid #000000;
}

.Company__Card__Grey {
    background-color: #F3F3F3;
}

.Company__CardTitle {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    padding: 6px 0px;
}

.Company__CardTitle--Bold {
    font-weight: 700;
}



.ReportCard {
    grid-row-gap: 4px;
    max-width: 1000px;
    margin: auto;
    background-color:#F3F3F3;
    border: 1px solid #A6A6A6;
    margin-bottom: 20px;
}

.ReportCard__Items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 20px;
}

.ReportCard__Item {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    padding: 10px 0px;
}

.ReportCard__Button {
    margin: 20px 0px;
}

.ReportCard__Button--inline {
    display: inline-flex;
}

/* **********************************************************************************
Submit Section
*********************************************************************************** */

.Submit__Card {
    display: grid;
    grid-template-columns: 200px auto;
    padding: 20px 0px;
}

.Submit__Description--Small {
    width: 30%;
    height: 30px;
    border: 1px solid #A6A6A6;
    background-color: #F3F3F3;
    outline-style:none;
    box-shadow:none;
}


.Submit__Description {
    width: 99%;
    height: 60px;
    border: 1px solid #A6A6A6;
    background-color: #F3F3F3;
    outline-style:none;
    box-shadow:none;
}
